<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <base href="<%= base %>"/>
        <script src="https://releases.jquery.com/git/jquery-git.min.js"></script>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="js/svimg.js"></script>
        <link rel="icon" href="./img/favicon.ico">
        <script>
            $(function() {
                svimg.base = "<%= base %>";
            });
        </script>
        <link rel="stylesheet" type="text/css" href="css/views.css">
    </head>
<body>
    <header class="TopTitle">
        <div class="column">
            <h1><%= title %></h1>
            <p><%= subtitle %></p>
            <div class="layerButtons"></div>
        </div>
        <div class="column">
            <div class="inkName"><%- include('./inks') %></div>
            <div class="controls">
                <script>
                    svimg.insertButton('Home', () => window.location.href = '/dashboard');
                    svimg.insertButton('Download', ()=>svimg.generateDownloads('Download'));
                    svimg.insertButton('Refresh', ()=>svimg.refresh());
                    svimg.insertButton('Reset', ()=>svimg.reset());
                    svimg.insertButton('Save', ()=>svimg.generateThumbnail());
                </script>
            </div>
        </div>
    </header>